body {
  font-family: sans-serif;
  line-height: 1.5;
  position: relative;
  height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(2, 5, 47);
  background-image: url('https://images.hdqwalls.com/wallpapers/blue-abstract-sharp-flows-4k-vn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
